body,html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    flex: 1;
    background-color: rgb(79, 82, 255);
    justify-content: center;
    align-items: center;
}

footer div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 6;
}

#gameSetup {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

.setting {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 40px 40px 40px 40px;
    background-color: rgb(158, 151, 250);
    padding: 15px;
    margin: 10px;
}

#start {
    margin: 10px 0 10px 0;
    background-color: white;
    border: 1px solid black;

}

#game {
    display: flex;
    flex: 6;
    flex-direction: row;
}

#area {
    display: flex;
    flex-direction: column;
    flex: 7;
}

#gameBoard {
    flex: 5;
}

table {
    border-spacing: 10px;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.tile {
    background-color: #d8f0de;
    border: solid rgb(0, 0, 0) 5px;
} 

.tile:hover {
    border: solid pink 5px;
}
.tile div {
    word-wrap: break-word;
}

span {
    text-align: center;
    margin: 5px;
}

h3 {
    text-align: center;
}

#highscore {
    flex: 2;
}

.selected {
    border: yellow solid 5px;
}

/*Cheat code*/
.cheatcode {
    visibility: hidden;
    text-align: center;
}

/*Highscore Leaderboard*/

#leaderBoard tbody tr {
    display: table-row;
    text-align: center;
    
} 

#highscore {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

#leaderBoard {
    height: 0%;
}

#clear {
    margin-bottom: 5px;
    bottom: 0;
    position: absolute;
}
