@media screen and (max-width: 750px) {
    header,footer {
        flex-direction: column;
        text-align: center;
    }
    
    h1 {
        font-size: 30px;
    }
    
    form {
       flex-wrap: wrap;
       flex-direction: row;
    }

    #game {
        flex-direction: column;
    }

    footer div {
        padding-top: 10px;
    }

    footer div:last-child {
        padding-bottom: 10px;
    }


}